
body {

margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background: #ffffff;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
overflow: hidden;
position: relative;

}

.circle {
position: absolute;
border-radius: 50%;
background: #0c1445;
z-index: -1;
}

.circle.big-left {
width: 420px;
height: 420px;
top: -80px;
left: -120px;
}

